.bganycombi_rib1, .bganycombi_rib2, .bganycombi_rib3, .bganycombi_rib4{width:120px;height:25px;line-height:25px;position:absolute;background:#ff0000; color:#fff; text-align:center;font-weight:bold; font-size:10px; left:15px;}
.bganycombi_rib1:after, .bganycombi_rib2:after, .bganycombi_rib3:after, .bganycombi_rib4:after{content:"";position:absolute;height:0;width:0;right:-14.5px;border-top:10px solid transparent;border-bottom:15px solid transparent; border-left:15px solid #ff0000}

.bganycombi_rib5, .bganycombi_rib6, .bganycombi_rib7, .bganycombi_rib8{width:120px;height:25px;line-height:25px;position:absolute;background:#ff0000; color:#fff; text-align:center;font-weight:bold; font-size:10px; right:15px;}
.bganycombi_rib5:after, .bganycombi_rib6:after, .bganycombi_rib7:after, .bganycombi_rib8:after{content:"";position:absolute;height:0;width:0;left:-14.5px;border-top:10px solid transparent;border-bottom:15px solid transparent; border-right:15px solid #ff0000}

.bganycombi_rib1, .bganycombi_rib5{top:10px;}
.bganycombi_rib2, .bganycombi_rib6{top:40px;}
.bganycombi_rib3, .bganycombi_rib7{top:70px;}
.bganycombi_rib4, .bganycombi_rib8{top:100px;}

.product-thumb{overflow:hidden !important;position:inherit;}
ul.thumbnails li { position: relative; overflow: hidden; }
