{% if logos %}
<section class="brand-logo-slider"> 
  <div class="container">  
    <h2>{{ title }}</h2> 
    <div class="brand-slider swiper">
      <div class="swiper-wrapper"> 
        {% for logo in logos %}
          <div class="swiper-slide">
            <img src="{{ logo.image }}" alt="Client Logo">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
