{% if logos %}
<section class="brand-logo-slider"> 
  <div class="container">  
    <h2>{{ title }}</h2> 
    <div class="brand-slider swiper">
      <div class="swiper-wrapper"> 
        {% for logo in logos %}
          <div class="swiper-slide">
            <a href="{{ logo.link }}" target="_blank" rel="noopener noreferrer">
              <img src="{{ logo.image }}" alt="Client Logo">
            </a>
          </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>
{% endif %}
