<section class="section-features">
  <div class="container features-inner">
    {% if items %}
      {% for item in items %}
        <div class="feature-item">
          <span class="feature-icon"><i class="{{ item.icon }}"></i></span>
          <div class="feature-content">
            <h4>{{ item.title }}</h4>
            <p>{{ item.desc }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>
