<!-- Features -->
<section class="section-features">
  <div class="container features-inner">
    <div class="feature-item">
      <span class="feature-icon"><i class="fa-solid fa-gear"></i></span>
      <div class="feature-content">
        <h4>Best quality</h4>
        <p>Best quality is a must at organic</p>
      </div>
    </div>
    <div class="feature-item">
      <span class="feature-icon"><i class="fa-solid fa-truck-fast"></i></span>
      <div class="feature-content">
        <h4>Shipping</h4>
        <p>Deliver within 24 hours</p>
      </div>
    </div>
    <div class="feature-item">
      <span class="feature-icon"><i class="fa-solid fa-headset"></i></span>
      <div class="feature-content">
        <h4>Support 24/7</h4>
        <p>Contact us 24 hours a day</p>
      </div>
    </div>
  </div>
</section>
