<!-- {% if video_url %}
<div class="hero-video-section">
  <video autoplay loop muted playsinline>
    <source src="{{ video_url }}" type="video/mp4">
  </video>
  {% if headline %}
  <div class="video-content-overlay">
     <h1>{{ headline }}</h1>
  </div>
  {% endif %}
</div>
{% endif %} -->

{% if video_url %}
<section class="hero-area">
  <div class="hero-slide">
    <video autoplay muted loop playsinline class="slide-video">
      <source src="{{ video_url }}" type="video/mp4">
    </video>   
  </div>
</section>
{% endif %}